*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

nav{
    background: lightblue;
    height: 100px;
}

label.logo{
    color: black;
    font-size: 60px;
    line-height: 100px;
    padding: 20px 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover{
    background: black;
    transition: .5s;
}



.main-content {
    text-align: center;
    box-shadow: 10px 5px 5px gray;
}

.top-section {
    background-color: lightblue;
    padding:  50px 0 50px 0;
    color: black;
}

.top-section img {
    width: 50%;
    border-radius: 50%;
}

.top-section p {
    margin: 5px 0 5px 0;
}

.top-section .name .school .department .email .mobile {
    font-size: 18px;
}

.middle-section, .learn-section {
    background-color: white;
    position: relative;
}

.social {
    position: flex;
    width: 100%;
}