body {
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.main-content {
    text-align: center;
    box-shadow: 0 0 10px #0070;
}